@import '../../../../assets/scss/variables.scss';

.Accordion__Wrapper {
			
	@media only screen and (min-width: 900px) {
		padding-left: 150px;
	}

	.Clear-Filters {
		width: 100%;
		max-width: 300px;
		margin-bottom: 50px;
			
		@media only screen and (max-width: 900px) {
			margin-left: auto;
			margin-right: auto;
		}

		input {
			display: block;
			margin: 0 auto;
		}

		.Button {
			color: rgba($Main-Gradient-3rd-Part, 1);
			border-color: rgba($Main-Gradient-3rd-Part, 1);
			box-shadow: 0px 1px 5px rgba($Dark-White, 1);

			&:hover {
				background-color: rgba($Main-Gradient-3rd-Part, 1);
				color: rgba($White, 1);
			}
		}
	}

	.Accordion {

		.Card {
			width: 100%;
			max-width: 300px;
			margin-bottom: 25px;
			border-radius: 12.5px;
			box-shadow: 0px 1px 5px rgba($Dark-White, 1);
			border: 1px solid rgba($Black, 0.125);

			@media only screen and (max-width: 900px) {
				margin-left: auto;
				margin-right: auto;
			}

			.Card-Header {
				padding: 0px;

				button {
					width: 100%;
					height: 100%;
					background-color: rgba($Black, 0.025);
					padding: 6.25px;

					&:focus {
						box-shadow: none;
					}
				}
			}

			.Card-Body {

				&__Content {
					@include Flex(center, flex-start);
					margin: 25px;
					font-size: 14px;
					cursor: pointer;

					input {
						display: none;

						&:checked + label {
							border-radius: 12.5px;
							background-color: rgba($Black, 0.085);
							color: rgba($Black, 1);
						}
					}

					label {
						margin: 0 auto;
						width: 250px;
						padding: 6.25px;
						border-radius: 12.5px;
						text-align: center;
						@include Media-Transition;
						cursor: pointer;
					}
				}
			}
		}
	}
}