@import '../../../assets/scss/variables.scss';



h3 {
	margin-bottom: 25px;
	text-align: center;
	font-size: 32px;
}

hr {
	width: 75%;
	max-width: 700px;
	margin-bottom: 50px;
}



.Order-Form {
	width: 75%;
	max-width: 700px;
	margin: 0 auto 100px;

	h4 {
		margin-bottom: 25px;
		text-align: center;
		font-size: 18px;
	}

	section {
		margin-bottom: 12.5px;

		&:last-of-type {
			margin-bottom: 50px;
		}

		[class ^= "Error-"] {
			margin-top: 12.5px;
			color: rgba($Main-Gradient-3rd-Part, 1);
		}

		i {
			width: 16px;
		}
	}

	textarea {
		display: block;
		width: 75%;
		max-width: 700px;
		@include Horizontal-Center;
		padding: 12.5px;
		border-radius: 12.5px;
		resize: none;
		background-color: transparent;

		&:focus {
			outline: none;
		}
	}
}

.col {
	@media only screen and (max-width: 900px) {
		flex: 0 0 100%;
		&:first-child {
			margin-bottom: 15px;
		}
	}
}


.Order-Items {

	&__Review {
		margin-bottom: 50px;
		text-align: center;
		font-size: 24px;
	}

	&__Table {
		width: 75%;
		margin: 0px auto 50px;
		word-wrap: break-word;
		text-align: center;

		.Table {
			margin-bottom: 0px;

			thead {

				tr, th {
					border: none;
				}
			}

			tbody {
	
				tr {
					&:not(:last-of-type) {
						border-bottom: 1px solid rgba($Dark-White, 1);
					}
	
					td {
						@include Spin-Button-Disable;
						vertical-align: middle;
						border: none;
	
						.Product-Image {
							@include Image-Size(128px);
							@include Horizontal-Center;
						}
	
						.Product-Name, .Product-Model, .Product-Quantity, .Product-Price {
							width: 200px;
							@include Horizontal-Center;
	
							img {
								@include Image-Size(16px);
							}
	
							input {
								background-color: rgba(transparent, 0);
							}
						}
					}
				}
			}
		}
	}
}



.Bill {
	width: 75%;
	max-width: 700px;
	margin: 0px auto 50px auto;
	padding: 12.5px 25px;
	border-radius: 12.5px;
	background-color: rgba($Dark-White, 0.25);
	font-size: 18px;

	&__Without-VAT, &__VAT-Value, &__With-VAT {
		margin: 12.5px 0px;

		&:last-of-type {
			color: rgba($Main-Gradient-3rd-Part, 1);
		}
	}
}

.General-Conditions {
	margin-bottom: 50px;
	text-align: center;
}

button {
	width: 150px;
	margin: 0px 50px 25px;

	&.double-width {
		width: 200px;
	}
}