@import '../../../assets/scss/variables.scss';

h3 {
	margin-bottom: 25px;
	text-align: center;
	@include Roboto-Mono;
	font-size: 24px;
	font-weight: 300;
}

hr {
	width: 700px;
	margin-bottom: 50px;
}

.Forgotten-Password-Form {
	width: 700px;
	margin: 0 auto 50px auto;

	&__Title {
		margin-bottom: 25px;
		font-weight: 500;
		font-size: 18px;
	}

	&__Details {
		margin-bottom: 25px;
		@include Roboto-Mono;
		text-align: justify;
	}

	&__Input-Field {
		margin-bottom: 12.5px;

		i {
			width: 16px;
		}
	}

	.Error-Email {
		margin: 0px auto 12.5px auto;
		@include Roboto-Mono;
		color: rgba( 246, 79, 89, 1.0 );
	}

	&__Buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;

		button {
			width: 150px;
		}
	}
}



.Forgotten-Username-And-Password-Form {
	width: 700px;
	margin: 0 auto 25px auto;

	&__Title {
		margin-bottom: 25px;
		font-weight: 500;
		font-size: 18px;
	}

	&__Details {
		margin-bottom: 25px;
		@include Roboto-Mono;
		text-align: justify;
	}

	&__Phone-Number {
		@include Roboto-Mono;
		color: rgba( 246, 79, 89, 1.0 );
		text-decoration: underline;
	}
}