<h3>Forgotten Password</h3>
<hr>

<form method="POST" class="Forgotten-Password-Form">

	<h4 class="Forgotten-Password-Form__Title">I Don't Remember My Password</h4>
	<p class="Forgotten-Password-Form__Details">
		In Case You Don't Remember Your Password, Please Fill Your Email With Which You Registered.
	</p>

	<section class="Forgotten-Password-Form__Input-Field input-group">

		<div class="input-group-prepend">
			<span class="input-group-text">
				<i class="fas fa-envelope"></i>
			</span>
		</div>
		<input type="text" class="Email form-control" placeholder="Email Address">

	</section>
	<span class="Error-Email form-text">AAA</span>

	<div class="Forgotten-Password-Form__Buttons">
		<button type="button" class="btn btn-outline-dark">Back</button>
		<button type="submit" class="btn btn-dark">Proceed</button>
	</div>

</form>



<section class="Forgotten-Username-And-Password-Form">

	<h4 class="Forgotten-Username-And-Password-Form__Title">
		I Don't Remember Nether My Username Nor My Password
	</h4>
	<p class="Forgotten-Username-And-Password-Form__Details">
		If You Don't Remember Neither Of Your Credentials, Please Contact Us On
		<span class="Forgotten-Username-And-Password-Form__Phone-Number">+ 359 XXX XX-88-88</span>
	</p>

</section>